/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.3s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    /*  display: none;*/
    overflow: hidden;
    height: 0%;
    transition: 3s;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    /*  display: none;*/
    /*
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
*/
}

.dropdown-content a {
    top: 0px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    height: auto;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*    min-width: 160px;*/
    position: absolute;
    z-index: -1;

}


.dropdown-content.active a:nth-child(1) {
    top: 50px;
    -webkit-animation-name: drpDwn1;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    /* Safari 4.0 - 8.0 */
    animation-name: drpDwn1;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.dropdown-content.active a:nth-child(2) {
    top: 95px;
    -webkit-animation-name: drpDwn2;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    /* Safari 4.0 - 8.0 */
    animation-name: drpDwn2;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.dropdown-content.active a:nth-child(3) {
    top: 140px;
    -webkit-animation-name: drpDwn3;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    /* Safari 4.0 - 8.0 */
    animation-name: drpDwn3;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes drpDwn1 {
    0% {
        top: 0px;
    }

    25% {
        top: 50px;
    }
}

/* Standard syntax */
@keyframes drpDwn1 {
    0% {
        top: 0px;
    }

    25% {
        top: 50px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes drpDwn2 {
    0% {
        top: 0px;
        left: 20px;
    }

    25% {
        top: 95px;
        left: 0px;
    }

    50% {
        top: 93px;
        left: -20px;
    }

    75% {
        top: 95px;
        left: 10px;
    }

    90% {
        left: -5px;
    }

    100% {
        left: 0px;
    }
}

/* Standard syntax */
@keyframes drpDwn2 {
    0% {
        top: 0px;
        left: 20px;
    }

    25% {
        top: 95px;
        left: 0px;
    }

    50% {
        top: 93px;
        left: -20px;
    }

    75% {
        top: 95px;
        left: 10px;
    }

    90% {
        left: -5px;
    }

    100% {
        left: 0px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes drpDwn3 {
    0% {
        top: 0px;
        left: 40px;
    }

    25% {
        top: 140px;
        left: 0px;
    }

    50% {
        top: 135px;
        left: -40px;
    }

    75% {
        top: 140px;
        left: 20px;
    }

    90% {
        left: -8px;
    }

    100% {
        left: 0px;
    }
}

/* Standard syntax */
@keyframes drpDwn3 {
    0% {
        top: 0px;
        left: 40px;
    }

    25% {
        top: 140px;
        left: 0px;
    }

    50% {
        top: 135px;
        left: -40px;
    }

    75% {
        top: 140px;
        left: 20px;
    }

    90% {
        left: -8px;
    }

    100% {
        left: 0px;
    }
}

.dropdown-content.hide a:nth-child(1) {
    top: 0px;
    -webkit-animation-name: hide1;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    /* Safari 4.0 - 8.0 */
    animation-name: hide1;
    animation-duration: 2s;
    animation-timing-function: linear;
    z-index: -2;
}

.dropdown-content.hide a:nth-child(2) {
    top: 0px;
    -webkit-animation-name: hide2;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    /* Safari 4.0 - 8.0 */
    animation-name: hide2;
    animation-duration: 2s;
    animation-timing-function: linear;
    z-index: -3;
}

.dropdown-content.hide a:nth-child(3) {
    top: 0px;
    -webkit-animation-name: hide3;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    /* Safari 4.0 - 8.0 */
    animation-name: hide3;
    animation-duration: 2s;
    animation-timing-function: linear;
    z-index: -4;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes hide1 {
}

/* Standard syntax */
@keyframes hide1 {
    0% {
        top: 50px;
    }
    65% {
        top: 50px;
    }
    100% {
        top: 0px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes hide2 {
}

/* Standard syntax */
@keyframes hide2 {
    0% {
        top: 95px;
    }
    30% {
        top: 95px;
    }
    100% {
        top: 0px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes hide3 {
}

/* Standard syntax */
@keyframes hide3 {
    0% {
        top: 140px;
    }
    
    100% {
        top: 0px;
    }
}