.draw-pile {
    background-color: darkgray;
    font-size: 300%;
    /*    padding: 30px 0px;*/
    text-align: center;
}

.blank {
    font-size: 300%;
    text-align: center;
}

.grid-card {
    display: grid;
    grid-template-columns: 20% minmax(0, 1fr) 20%;
/*    grid-template-columns: 36px 108px 36px;*/
    grid-template-rows: 36px 108px 36px;
    background-color: white;
}

.grid-card > div {
    /*    width: 100%;*/
}

.card-corner {
    background-color: black;
}

.card-center {
    white-space: nowrap;
    overflow: hidden;
    font-size: 1fr;
    padding: 10px 0;
    text-align: center;
}

.card-horizontal {
    white-space: nowrap;
    overflow: hidden;
    border-left-style: solid;
    border-right-style: solid;
    font-size: 200%;
    font-weight: bold;
    padding: 50% 0;
    text-align: center;
}

.card-vertical {
    white-space: nowrap;
    overflow: hidden;
    border-top-style: solid;
    border-bottom-style: solid;
    font-size: 200%;
    font-weight: bold;
    padding: 0 0 5% 0;
    text-align: center;
}

/*
.card-center {
    text-align: center;
}
*/

.grid-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 10px;
    background-color: dimgray;
    padding: 10px;
    min-height: 0;
    min-width: 0;
}

.grid-container > div {
    /*    width: 100%; */
}

.center {
    background-color: yellow;
    font-size: 1fr;
    padding: 30px 0;
    text-align: center;
}

.empty {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 90px 90px;
}

.selected {
/*    box-shadow: 0px 0px 20px red;*/
}

.player1 {
    box-shadow: 0px 0px 20px red;
}

.player2 {
    box-shadow: 0px 0px 20px green;
}

.player3 {
    box-shadow: 0px 0px 20px blue;
}

.player4 {
    box-shadow: 0px 0px 20px yellow;
}